.heart {
  background-color: transparent;
}
.heart:active,
.heart:focus {
  background-color: transparent;
  box-shadow: none;
}

.icon:hover {
  fill: var(--button-hover);
}

.imageWrapper {
  width: 276px;
  height: 268px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper .imageCard {
  height: 100%;
  width: auto;
  object-fit: cover;
  display: block;
}
